/*----------------------MAIN-------------------------*/

body
{
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, 1fr;
    font-family: 'Roboto', sans-serif;
}

header, main
{
    width: 95vw;
    margin:0 auto;
}

/*----------------------HEADER-------------------------*/
header 
{
    background-color: black;
}
header h1
{
    text-align: center;
    color:#fff;
}

/*----------------------WELCOME-------------------------*/
#welcome img
{
    display: block;
    margin: 0 auto;
}
#welcome p
{
    text-align: center;
}

/*----------------------ANSWERS-------------------------*/
/*-------------------TO DO !!!!------------------------*/
/* Adapter la taille de la bulle à la taille du message ! */
/* Faire un align bottom pour les réponses ! */
.robot-message
{
    display: grid;
    grid-template-columns: 50px auto;
    margin: 10px 0;
}

.robot-avatar
{
    border-radius: 50%;
}
.robot-answers
{
    border-radius: 8px 8px 8px 0px;
    background-color: crimson;
    padding: 10px 5px;
}
.user-message
{
    margin: 10px 0;
    
}
.user-answers
{
    padding: 10px 5px;
    border-radius: 8px 8px 0px 8px;
    background-color:darkmagenta;
    text-align: right;
}

/*----------------------FORM-------------------------*/
/*----------------------TO DO------------------------*/
/*Fixer le formulaire en bas*/

form
{
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
}

form button, form textarea
{
    border: 1px solid #888888;
    color: #888888;
    background-color:#ffffff;
    border-radius: 8px;
}

form textarea
{
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0 ;

}

form button
{
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
    padding: 0;
    margin: 0;
}

form button i
{
    display: block;
    margin: auto;
}